header,
.feature-list-content {
  padding: 20px;
}
.nav-container,
.feature-list-container {
  flex-direction: column;
}
.nav-title {
  margin-bottom: 30px;
}
.feature-list-img-container {
  grid-template-columns: auto;
  gap: 24px;
}
