header,
.feature-list-content,
.fact-card-container,
.fact-content {
  padding: 20px;
}
.nav-container,
.feature-list-container,
.fact-card-container,
.sponsor-card-container {
  flex-direction: column;
}
.nav-title {
  margin-bottom: 30px;
}
.feature-list-img-container {
  grid-template-columns: auto;
  gap: 24px;
}
.fact-card-container {
  gap: 10px;
}
.sponsor-card-container {
  gap: 20px;
  align-items: center;
}
.sponsor-card-container img {
  text-align: center;
}
